{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Portfolio</h1>
          <span class="subheading">A webpage to be shown.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <div class="post-preview">
        <a>
          <h2 class="post-title text-center pb-3">Hi, I’m David. Nice to meet you.</h2>
          <h3 class="post-subtitle text-center pb-5">I'm a budding developer with a passion for learning and building. While I'm just starting out professionally, I've been diving into code, experimenting with personal projects, and constantly challenging myself to grow. I'm naturally curious, eager to contribute, and committed to becoming better every day.</h3>
        </a>
      </div>
    </div>
  </div>
</div>


{% include "footer.html" %}
